@import "tailwindcss";


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Ensure scrolling still works */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: auto;
}

.chatView {
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: #6d6d6d transparent; /* For Firefox */
  font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.chatView::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chatView::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.chatView::-webkit-scrollbar-thumb {
  background-color: #6d6d6d; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.chatView::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Color when hovering over the scrollbar thumb */
}


